<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/headLayouts.ejs') -%>
</head>

<body>
    <!-- main layout start from here -->
    <!--====== PRELOADER PART START ======-->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!--====== PRELOADER PART ENDS ======-->
    <div id="main">
        <%- include('layouts/navigationLayouts.ejs') -%>
        <h1>hiádsadasd</h1>
        <%- include('layouts/footerLayouts.ejs') -%>
    </div>
        <%- include('layouts/scriptLayouts.ejs') -%>
</body>